@using System.Security.Claims;
@{
    var user = Context.User as ClaimsPrincipal;
    var emailClaim = user?.FindFirst(ClaimTypes.Email)?.Value;
    var hoTenClaim = user?.FindFirst(ClaimTypes.Name)?.Value;
    var customerIDClaim = user?.FindFirst("CustomerID")?.Value;
    var roleClaim = user?.FindFirst(ClaimTypes.Role)?.Value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebBanSachDemo</title>
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">

    <style>
        .image-link img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            transition: transform 0.3s ease; /* Hiệu ứng chuyển đổi */
        }

        /* Khi hover vào thẻ a, phóng to ảnh một chút */
        .image-link:hover img {
            transform: scale(1.2);
        }

        .pagination {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .pagination li {
                display: inline-block;
                margin-right: 5px; /* Khoảng cách giữa các trang */
            }

                .pagination li a,
                .pagination li span {
                    display: inline-block;
                    padding: 5px 10px; /* Kích thước và padding của các trang */
                    border: 1px solid #ccc; /* Viền của các trang */
                    text-decoration: none; /* Loại bỏ gạch chân */
                    color: #333; /* Màu chữ */
                }

            .pagination .active a,
            .pagination .active span {
                background-color: #007bff; /* Màu nền của trang hiện tại */
                color: #fff; /* Màu chữ của trang hiện tại */
                border-color: #007bff; /* Màu viền của trang hiện tại */
            }

            .pagination .disabled a,
            .pagination .disabled span {
                color: #ccc; /* Màu chữ của trang bị vô hiệu hóa */
                pointer-events: none; /* Không thể nhấp chuột vào trang bị vô hiệu hóa */
            }

    </style>
</head>
<body>
   <div>
       @* Navistart *@
       <div class="container-fluid fixed-top">
            <div class="container topbar d-none d-lg-block" style="background-color:#1d2115 ">
                <div class="d-flex justify-content-between">
                    <div class="top-info ps-2">
                        <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">470 Đ. Trần Đại Nghĩa, Khu đô thị, Ngũ Hành Sơn, Đà Nẵng 550000, Việt Nam</a></small>
                        <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">WebBanSach@gmail.com</a></small>
                    </div>
                    <div class="top-link pe-2">
                        <a class="text-white"><small class="text-white mx-2">Chính sách bảo mật</small>/</a>
                        <a href="#" class="text-white"><small class="text-white mx-2">Điều khoản sử dụng</small></a>
                        @* <a href="#" class="text-white"><small class="text-white ms-2">Bán hàng và hoàn tiền</small></a> *@
                    </div>
                </div>
            </div>
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a href="#" class="navbar-brand"><h1 class="text-primary display-6">TUỔI TRẺ</h1></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a asp-controller="hanghoa" asp-action="index" class="nav-item nav-link">Trang chủ</a>
                           @*  <a asp-controller="KhachHang" asp-action="DangKy" class="nav-item nav-link">Đăng kí</a> *@
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Thành viên</a>
                                @if (!string.IsNullOrEmpty(hoTenClaim)){
                                    <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                        <a asp-action="Index" asp-controller="Cart" class="dropdown-item active">Giỏ hàng</a>
                                        <a href="#" class="dropdown-item">Thông tin cá nhân</a>
                                        <a asp-action="DangXuat" asp-controller="KhachHang" class="dropdown-item">Đăng xuất</a>
                                    </div>
                                }
                                else
                                {
                                <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                    <a href="#" class="dropdown-item active">Giỏ hàng</a>
                                    <a asp-action="DangNhap" asp-controller="KhachHang" class="dropdown-item">Đăng Nhập</a>
                                    <a asp-action="DangKy" asp-controller="KhachHang" class="dropdown-item">Đăng kí</a>
                                    <a href="#" class="dropdown-item">Quên mật khẩu</a>
                                </div>
                                }  
                            </div>
                            <a href="#" class="nav-item nav-link">Dịch vụ tiện ích</a>
                            <a href="#" class="nav-item nav-link">Liên hệ</a>
                        </div>
                        <div class="d-flex m-3 me-0">
                            <input id="searchText" type="search" style="height:40px; border-radius: 5px; margin-right:20px; border: 1px solid #ccc;" placeholder="Tìm kiếm">
                            <button id="searchButton" class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal"><i class="fas fa-search" style="color: #1d2115"></i></button>
                           @await Component.InvokeAsync("Cart")
                            <a asp-action="DangNhap" asp-controller="KhachHang" class="my-auto">
                                <i class="fas fa-user fa-2x " style="color: #1d2115;"></i>
                            </a>
                            @if (!string.IsNullOrEmpty(hoTenClaim))
                            {
                                var words = hoTenClaim.Split(' ');
                                var lastName = words[words.Length - 1];
                                <span>Xin chào, @lastName</span>
                                <a asp-action="DangXuat" asp-controller="KhachHang">Đăng xuất</a>
                            }
                            
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
   </div>
    <footer class="border-top footer text-muted">
        @await Html.PartialAsync("_Footer");
        <div class="container">
            &copy; 2024 - WebBanSachDemo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function (){
            $("#searchButton").click(function(){
                let url = `/HangHoa/Search?query=` + $("#searchText").val()
                window.location.href = url
            })
        })

    </script>
</body>
</html>
